<div class="row">
	<form class="col s12" action="/insert">
		<div class="row">
			<div class="input-field col s11">
				<i class="material-icons prefix">mode_edit</i>
				<textarea id="icon_prefix2" class="materialize-textarea"></textarea>
				<label for="icon_prefix2">Enter your pasta:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s11">
				<button class="btn waves-effect waves-light right" type="submit">
					Submit <i class="material-icons right">send</i>
				</button>
			</div>
		</div>
	</form>
</div>
